.img-zoom{
  cursor: crosshair;
  position: relative;
}

.img-zoom:hover img{
  animation: zoom 1s linear forwards;
}
.img-zoom:hover div{
  animation: slide 1s linear forwards;
}
i{
  cursor: pointer;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes slide {
  from{right: -40px}
  to{right: 10px}
}

@keyframes cartList {
  from{right: -400px}
  to{right: 0px}
}

@keyframes cartlistcolose {
  from{right: 0px}
  to{right: -400px}
}